/* .wrapper {
  display: flex;
  flex-direction:row;
  max-width: 100%;
  margin-top: 150px;
  display:inline-block;
  border: 1px solid rgb(202, 194, 194);
} */
.container{
    margin-top: 150px;
  }
  .wrapper{
  /* display: flex; */
  /* flex:25% 25% 25% 25%; */
  justify-content:row;
  max-width: 100%;
  border: 1px solid rgb(202, 194, 194);
  width:350px ;
  }
  .product {
    display: flex;
    flex-direction:column;
    align-items: center;
    
    margin: 10px;
    padding: 20px;
    cursor: pointer;
    max-height: 1000px;
    max-width: 350px;
    background-color: white;
    
    width: 310px;
   
  }
  .desc{
    
    height:130px;
    width: 270px;
  }
  .name{
    font-size: 18px;
    font-weight: 400;
  }
  .img {
    width: 300px;
    height: 300px;
  }
  .button{
    /* border: none; */
    border-radius: 20px;
    background-color: #d45083c2;
    background:  #d45083c2;;
    border: 1px solid;
    margin-top: 10px;
    border-color: #f07777 #fc8d89 #db6e9b;
    color: #111;
    cursor: pointer;
  }
  